<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <title>Cuisines</title>
    </head>
    <body>
        <div class="container">
            <h1>Cuisines</h1>
            <a href="/"><button class="btn btn-primary">Home</button></a>
            <a href="/create_cuisine"><button class="btn btn-success">Add</button></a>
            <a href="/delete_cuisine"><button class="btn btn-warning">Delete All</button></a>

            {% if cuisines is not empty %}
                <p>Here are all your cuisines:</p>
                <ul>
                {% for cuisine in cuisines %}
                   <li>{{ cuisine.getType}}
                       <a href="/cuisines/{{cuisine.getId}}/edit"><button class="btn btn-info btn-xs">Edit</button></a>
                       <ul>
                           {% for restaurant in cuisine.getRestaurants %}
                                <li>{{ restaurant.getName }}, {{ restaurant.getStars }} Stars, {{ restaurant.getHours }}</li>
                               {% endfor %}
                       </ul>
                   </li>
                 {% endfor %}
               </ul>
            {% endif %}

        </div>
    </body>
</html>
